*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

.main-container {
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}
